.Pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.pokeGroup {
  display: flex;
  flex-direction: row;
}